{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}
 
   

{% block body %}
{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
 {% block header %}
    <header>
        <ul>
            <li><a href="{{ path('home_page') }}">Home</a></li>
            <li><a href="{{ path('register') }}">Espace consomateur</a></li>
            <li><a href="{{ path('register') }}">Espace Producteur</a></li>
            <li><a href="{{ path('login') }}">Déja inscrit ?</a></li>
        </ul>
    </header>
{% endblock %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password"/>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account"/>
    #}
    {# ======  REDIRECTION USER LOG ================= #}
  
   <input type="hidden" name="_target_path" value="/wine_red"/>  
   

    <button type="submit">Se connecter</button>
</form>
{% endblock %}
