{% extends 'base.html.twig' %}

{% block title %}Wine App

 

{% endblock %}

{% block body %}

    {% for wine_red in wine_reds  %}
		{# {{article.title}} #}
		<div class="article text-center">
			<h1 class="text-center">
				{{wine_red.titre}}</h1>
			{# <p class="text-center"> {{article.titre}}</p> #}
			<div class="article-image">
				<img src={{wine_red.getImageArticle}} alt="">
				<div class="contenu">
					<h1>Content</h1>
					<p>{{wine_red.contenu}}</p>

				</div>
			</div>
		</div>
	{% endfor %}
    
{% endblock %}