<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Wine App
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<script src="{{ asset('script.js') }}"></script>
		{% block stylesheets %}
			<link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
			<link href="{{ asset('styles/liquid_button.css') }}" rel="stylesheet"/>
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>

		{% block body %}
			{% block header %}
				<header>
					<div class="container_identity">
						
						<nav class="menu"> 
							<ul>
								{# <li><img class="icon_header_size" src="{{ asset('img/icon_white_bckg/Icon awesome-wine-bottle-1.png') }}" alt=""> <a href="{{path('home_page')}}">Home</a> </li>  #}
								<li><img class="icon_header_size" src="{{ asset('img/icon_white_bckg/Icon awesome-wine-glass-alt-1.png') }}" alt="verre de vin icon rouge"> <a href="{{path('register')}}">Espace consommateur</a></li>
								<li><img class="icon_header_size" src="{{ asset('img/icon_white_bckg/Icon awesome-wine-bottle-1.png') }}" alt="bouteille de vin icon rouge"> <a href="{{path('register')}}">Espace Producteur</a></li>
								<li><img class="icon_header_size" src="{{ asset('img/icon_white_bckg/Icon open-account-login-2.png') }}" alt="se connecter icon rouge"> <a href="{{path('login')}}">Déja inscrit ?</a></li>
							</ul>
						</nav>
						
						<div class="identity_title">
							
							<div class="title">
								<h1>wine<br>app</h1>
							</div>
							<div class="logo">
								<img src="{{ asset('img/logo_black_bckg/grape512x512-1.png') }}" alt="logo" class="logo_size">	
							</div>
							
						</div>
						
						
						
						
					</div>
					
				</header>
			{% endblock %}
			
			{% block caroussel %}					
			<h2>Nos sélections</h2>
				<p>Nos vins sont vigoureusement séléctionnées en fonctions de vos préfèrences</p>
				<div class="container_article">
					<div class="wine">
						<h3>Vin Rouge</h3>
						<div class="wine-picture">
							<img src="{{ asset('img/icon_white_bckg/icon-vins.png') }}" alt="logo" class="picture_size">
							<a href="#">Gigondas</a>
						</div>
					</div>
					<div class="wine">
						<h3>Vin Rose</h3>
						<div class="wine-picture">	
							<img src="{{ asset('img/icon_white_bckg/icon-vins.png') }}" alt="logo" class="picture_size">
							<a href="#">Vacqueyras</a>
						</div>
					</div>
					<div class="wine">
						<h3>Vin Blanc</h3>
						<div class="wine-picture">
								<img src="{{ asset('img/icon_white_bckg/icon-vins.png') }}" alt="logo" class="picture_size">
								<a href="#">Casalas</a>
						</div>
					</div>
					<div class="wine">
						<h3>Vin Blanc</h3>
						<div class="wine-picture">
								<img src="{{ asset('img/icon_white_bckg/icon-vins.png') }}" alt="logo" class="picture_size">
								<a href="#">Casalas v2</a>
						</div>
					</div>
				

					{# bloc de contenu à supprimer - utilisé uniquement pour le layout #}
					<h2>Nos sélections</h2>
				
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eum et a ea ratione blanditiis adipisci saepe porro eaque excepturi ex nisi, magni provident aperiam, sed esse debitis accusantium quibusdam?
					Illum ad unde ea est possimus quibusdam, neque deleniti praesentium, quod incidunt autem eum harum cumque qui, nisi ipsam provident fugiat quas distinctio. Magni et reprehenderit natus nemo modi sint?
					Optio facere qui maxime quasi enim pariatur. Debitis facere recusandae facilis veritatis? Deleniti beatae itaque et temporibus suscipit rem facilis voluptatem, saepe magni, earum facere dolore molestias nostrum aliquam dolorum?
					Sunt totam, numquam asperiores unde modi placeat! Provident impedit iusto alias sequi deserunt adipisci. Quisquam eveniet debitis fuga similique itaque explicabo ipsam quas dolores laboriosam? Exercitationem similique mollitia assumenda! Dolore!
					Quia vel obcaecati, aspernatur autem natus quisquam. Debitis deleniti doloribus illo eveniet, quidem soluta minima molestiae distinctio eum dolores cum doloremque alias eligendi ipsa sequi, ad sed, voluptatem unde veniam?</p>
					<br>

					<p style="padding-bottom:200px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eum et a ea ratione blanditiis adipisci saepe porro eaque excepturi ex nisi, magni provident aperiam, sed esse debitis accusantium quibusdam?
					Illum ad unde ea est possimus quibusdam, neque deleniti praesentium, quod incidunt autem eum harum cumque qui, nisi ipsam provident fugiat quas distinctio. Magni et reprehenderit natus nemo modi sint?
					Optio facere qui maxime quasi enim pariatur. Debitis facere recusandae facilis veritatis? Deleniti beatae itaque et temporibus suscipit rem facilis voluptatem, saepe magni, earum facere dolore molestias nostrum aliquam dolorum?
					Sunt totam, numquam asperiores unde modi placeat! Provident impedit iusto alias sequi deserunt adipisci. Quisquam eveniet debitis fuga similique itaque explicabo ipsam quas dolores laboriosam? Exercitationem similique mollitia assumenda! Dolore!
					Quia vel obcaecati, aspernatur autem natus quisquam. Debitis deleniti doloribus illo eveniet, quidem soluta minima molestiae distinctio eum dolores cum doloremque alias eligendi ipsa sequi, ad sed, voluptatem unde veniam?</p>
				</div>
			{% endblock %}

		{% endblock %}
		{% block footer %}
			<footer>
				<ul>
					<li><a href="{{path('home_page')}}">Home</a></li>
					<li><a href="{{path('wine_red')}}">Rouge</a></li>
					<li><a href="{{path('wine_white')}}">Blanc</a></li>
					<li><a href="{{path('wine_rose')}}">Rose</a></li>
				</ul>
			</footer>
		{% endblock %}
	</body>
</html>
