<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Wine App
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<script src="{{ asset('script.js') }}"></script>
		{% block stylesheets %}
			<link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>

		{% block body %}
			{% block header %}
				<header>
					<ul>
						<li><a href="{{path('home_page')}}">Home</a></li>
						<li><a href="{{path('register')}}">Espace consomateur</a></li>
						<li><a href="{{path('register')}}">Espace Producteur</a></li>
						<li><a href="{{path('login')}}">Déja inscrit ?</a></li>
					</ul>
				</header>
			{% endblock %}
			<div class="title">
				<h1>Wine Search</h1>
			</div>
			{% block caroussel %}
				<div class="container_article">
					<div class="wine">
						<h1>wine_red</h1>
						<div class="wine-picture">
							<a href="#">picture</a>
						</div>
					</div>
					<div class="wine">
						<h1>wine_rose</h1>
						<div class="wine-picture">
							<a href="#">picture</a>
						</div>
					</div>
					<div class="wine">
						<h1>wine_white</h1>
						<div class="wine-picture">
							<a href="#">picture</a>
						</div>
					</div>
				</div>
			{% endblock %}

		{% endblock %}
		{% block footer %}
			<footer>
				<ul>
					<li><a href="{{path('home_page')}}">Home</a></li>
					<li><a href="{{path('register')}}">Espace consomateur</a></li>
					<li><a href="{{path('register')}}">Espace Producteur</a></li>
					<li><a href="{{path('login')}}">Déja inscrit ?</a></li>
				</ul>
			</footer>
		{% endblock %}
	</body>
</html>
